/* shared styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* main styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}