/* shared styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-secondary{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    padding: 16px 35px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 25px;
}
.bg-secondary{
    background-color: #FFF8F3;
}
.section-title{
    font-size: 35px;
    font-weight: 800;
    color: #181818;
}
.section-description{
    font-size: 18px;
    margin-top: 50px;
    color: #757575;
}
.item-title{
    font-size: 18px;
    color: #757575;
}
.item-description{
    font-size: 18px;
    font-weight: 600;
    color: #474747;
}
.text-center{
    text-align: center;
}
/* main styles */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-description{
    color: #757575;
    margin-bottom: 30px;
}
.banner-profile-picture{
    max-width: 580px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    padding: 131px 156px;
    text-align: center;
    border-radius: 10px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.skills-container{
    margin-top: 30px;
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.skill-description{
    font-size: 16px;
    color: #757575;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column .resume-column-title{
    color: #474747;
}
.experience-title{
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
.experience-sub-title{
    font-size: 17px;
    font-weight: 600;
    color: #757575;
}
.resume-column-title{
    font-size: 25px;
    font-weight: 800;
    color: #757575;
}
.resume-button{
    margin-top: 30px;
}